# Configuration pour le serveur de validation de licences
# À RENOMMER en .env et remplir avec vos vraies clés

# Gumroad
GUMROAD_PRODUCT_ID=votre_product_id_ici

# Home of Editors
HOME_OF_EDITORS_PRODUCT_ID=81ab8fc3-115c-429d-9f27-88a97721ebb5

# Port (optionnel, défaut: 3000)
PORT=3000

