# Sensitive configuration files
config_google.json
.env

# Logs
*.log
logs/

# Dependencies
node_modules/
venv/
__pycache__/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

node_modules
dist
.DS_Store
node_modules
app/ffmpeg.exe
build/
.venv
.vscode
app/__pycache__
node_modules
